# Dependencies
node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

# Temporary files created by Metro to check the health of the file watcher
.metro-health-check*

# Environment files
.env
.env.local
.env.production

# Firebase
.firebase/

# IDE
.vscode/
.idea/

# Logs
logs
*.log

# Testing
coverage/
.nyc_output/

# Expo
.expo-shared/
backend/.venv/
backend/__pycache__/
backend/.venv/
*.apk
*.dylib
*.so
